*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*62.5% of 16px = 10px */
}

:root {
  --border-radius: 1rem;
  --border-thickness: 0.09rem;
  --box-shadow: 0 7px 17px rgba(91, 140, 255, 0.12);

}

/*---------------------------------------
  GENERAL / WHOLE PAGE STYLING |              
-----------------------------------------*/
body {
  margin: 0;
  font-family: monospace;
  overflow-x: hidden;
  font-size: 1.6rem;

}

div.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
}

/*---------------------------------------
  TYPOGRAPHY |              
-----------------------------------------*/
a {
  color: currentColor;
  text-decoration: none;
}

hr {
  height: 0.1rem;
  /* border: none; */
}

.fa-facebook {
  color: rgb(23, 23, 253);
}

.fa-whatsapp {
  color: rgb(5, 252, 5);
}

/*---------------------------------------
  DROPDOWN STYLING |
  ---------------------*/
.dropdown-container {
  position: relative;
  /* So the dropdown positions relative to this */
  display: inline-block;
  /* Keeps it compact */
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  /* directly below the button */
  right: 0;
  margin: 0.9rem 0;
  padding: 1rem;
  pointer-events: auto;
  /* Prevent clicks when hidden */
  background-color: rgba(66, 70, 70, 0.836);
  transition: all;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  /* slide slightly up when hidden */
}

a {
  color: currentColor;
}

div.dropdown a {
  margin: 0.5em 1em;
  display: inline-flex;
  gap: 0.3em;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(-10px);
}


/*---------------------------------------
  FOOTER STYLING     |          
-----------------------------------------*/
footer {
  background-color: black;
  color: rgb(255, 254, 254);
  padding: 1rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-right {
  margin: 1rem 2rem 1rem 0rem;
  padding-left: 2rem;
  border-left: white 0.01rem solid;
}

footer img {
  width: 10rem;
}

footer p.copyright {
  font-size: 1rem;
  margin-top: 1rem;
}