/*---------------------------------------
  GENERAL / WHOLE PAGE STYLING |              
-----------------------------------------*/
body {
    background-color: white;
    padding: 0rem;
}

main,
article {
    background-color: white;
    color: black;
}

div.post-article {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.63);
}

.main-background {
    background-image: url(Images/smam_logoj.webp);
}


/*---------------------------------------
    ICONS, ANCHOR, HR ETC |            
-----------------------------------------*/
i {
    width: 1.6rem;
    color: rgb(253, 252, 252);
}

hr {
    border: none;
    height: 0.1rem;
    background-color: currentColor;
}




/* HEADER STYLING & ARTICLE*/
header {
    color: white;
    padding: 1rem 1rem 8rem 1rem;
    background-image: linear-gradient(79deg, black, rgb(49, 47, 47));
    margin: 0;
    height: 120%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 59.91%, 0% 100%);
}


header div.wrapper nav {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 10rem;
}


/* SECTION STYLING */

ol {
    text-align: left;
}

section#week-tips {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(122, 128, 125, 0.705);
}

section div.services-div-wrapper div.services-div.first {
    background-image: url(/Images/Priscianus.webp);
}

.second {
    background-image: url(/Images/news.webp);
}

.third {
    background-image: url(/Images/men_net_convo.webp);
}

section div.services-div-wrapper div.services-div {
    width: 70rem;
    height: 30rem;
    border-radius: var(--border-radius);
    background-size: cover;
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

section div.services-div-wrapper div.services-div div.services-div-text {
    width: 50%;
    height: 100%;
    backdrop-filter: blur(3px);
    padding: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: rgba(231, 228, 228, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

section div.services-div-wrapper div.services-div p {
    color: rgb(61, 61, 61);
    cursor: pointer;
}

/*---------------------------------------
    SECTION#sign-up |            
-----------------------------------------*/
section#sign-up {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 5rem;

}

section#sign-up a {
    background-color: crimson;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s linear;
    cursor: not-allowed;
}

section#sign-up a:hover {
    background-color: rgb(240, 72, 105);
}


@media (max-width: 480px) {

    section div.services-div-wrapper div.services-div {
        width: 100%;
        height: 30rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }

    section div.services-div-wrapper div.services-div div.services-div-text {
        height: 15rem;
        width: 100%;
        padding: 1rem;
        border-radius: 0rem 0rem 1rem 1rem;

    }

    /*---------------------------------------
    SECTION#sign-up |            
-----------------------------------------*/
    section#sign-up a {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
}

@media ((min-width:481px) and (max-width: 768px)) {
    section div.services-div-wrapper div.services-div {
        width: 60rem;
        margin: 1rem auto;

    }

    section div.services-div-wrapper div.services-div div.services-div-text {
        width: 65%;
    }
}

@media ((min-width:769px) and (max-width: 1024px)) {
    section div.services-div-wrapper div.services-div {
        width: 100%;
    }
}